<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('load/head') -%>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">ByTezz</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#menu">Menu</a>
        </li>
        <!-- <li>
          <a class="nav-link" href="#shops">Tiendas</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Galería</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#offers">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#delivery">Delivery</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <section class="section" id="menu">
    <div class="container">
      <div class="row g-4">
        
        <!-- 1 -->
        <div class="menu-item container">
          <div class="menu-img">
            <img src="../public/img/icon-shops.jpg" alt="menu-img"  class="img-fluid">
          </div>
          <div class="menu-content">
            <h4 class="menu-title" style="margin-right: 30px;">sencilla</h4>
            <p>Lorem ipsum dolor Lorem </p>
            <i class="bi bi-currency-dollar"><span class="text-dark">40.00</span></i>
          </div>
        </div>

        <!-- 1 -->
        <div class="menu-item container">
          <div class="menu-img">
            <img src="../public/img/icon-shops.jpg" alt="menu-img"  class="img-fluid">
          </div>
          <div class="menu-content">
            <h4 class="menu-title" style="margin-right: 30px;">sencilla</h4>
            <p>Lorem ipsum dolor Lorem </p>
            <i class="bi bi-currency-dollar"><span class="text-dark">40.00</span></i>
          </div>
        </div>

        <!-- 1 -->
        <div class="menu-item container">
          <div class="menu-img">
            <img src="../public/img/icon-shops.jpg" alt="menu-img"  class="img-fluid">
          </div>
          <div class="menu-content">
            <h4 class="menu-title" style="margin-right: 30px;">sencilla</h4>
            <p>Lorem ipsum dolor Lorem </p>
            <i class="bi bi-currency-dollar"><span class="text-dark">40.00</span></i>
          </div>
        </div>

        <!-- 1 -->
        <div class="menu-item container">
          <div class="menu-img">
            <img src="../public/img/icon-shops.jpg" alt="menu-img"  class="img-fluid">
          </div>
          <div class="menu-content">
            <h4 class="menu-title" style="margin-right: 30px;">sencilla</h4>
            <p>Lorem ipsum dolor Lorem </p>
            <i class="bi bi-currency-dollar"><span class="text-dark">40.00</span></i>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- <br>
  <br>
  <section id="shops" class="section bg-light py-5">
    <div class="container">



    </div>
  </section> -->
  <br>
  <br>
  <section id="gallery" class="py-5 bg-white">
    <div class="container">
      <h2 class="text-center mb-4">Galería</h2>
      <div class="row g-3">
        <div class="col-md-4"><img src="../public/img/slider_gallery.jpg" class="img-fluid rounded shadow"></div>
        <div class="col-md-4"><img src="../public/img/slider_gallery_2.jpg" class="img-fluid rounded shadow"></div>
        <div class="col-md-4"><img src="../public/img/slider_gallery_3.jpg" class="img-fluid rounded shadow"></div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <section id="offers" class="py-5 text-dark">
    <div class="container text-center">
      <h2 class="mb-4">Ofertas Especiales</h2>
      <p class="lead"><strong>¡Combo 3x2!</strong> llevate 3 al precio de 2.</p>
      <a href="https://wa.me/525661267101" class="btn btn-dark">Ordenar Ahora</a>
    </div>
  </section>
  <br>
  <br>  
  <section id="delivery" class="py-5 bg-light">
    <div class="container">
      <h2 class="mb-4 text-center">¡Entrega a Domicilio!</h2>
      <p class="lead text-center">Recibe tus sliders favoritos donde estés, ¡rápido y caliente!</p>
      <p class="lead text-center">Manda mesaje al <strong>+ 525661267101</strong> para que lo entreguemos nosotros a tu domicilio!</p>
    </div>
    <div class="text-center mt-4">
      <p>También estamos en:</p>
      <div class="d-flex justify-content-center gap-4 flex-wrap">
        <img src="../public/img/uber-eats-1.svg" alt="Uber Eats" class="delivery-icon">
        <img src="../public/img/rappi-seeklogo.png" alt="Rappi" class="delivery-icon">
        <img src="../public/img/didi-chuxing.svg" alt="Didi Food" class="delivery-icon">
      </div>
    </div>
  </section>
  <br>
  <br>


  <!-- Modal de contacto -->
  <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true" style="background-color: #e63946;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark text-white">
        <div class="modal-header border-secondary">
          <h5 class="modal-title" id="contactModalLabel">Contáctanos</h5>
        </div>
        <div class="modal-body">
          <p><i class="bi bi-whatsapp"></i> Teléfono: + 525661267101</p>
          <p><i class="bi bi-envelope"></i> Correo: contacto@sliderburgers.com</p> <!-- # Cambiar correo por el correo real -->
        </div>
        <div class="modal-footer border-secondary">
          <button type="button" class="btn btn-main" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p><span title="Todos los derechos reservados.">&copy; ByTezz.</span></p>
    <p>
      <!-- contact -->
      <a href="#">Inicio</a>|
      <a href="#menu">Menú</a>|
      <a href="#" data-bs-toggle="modal" data-bs-target="#contactModal"><i class="bi bi-whatsapp"></i> + 525661267101</a>
    </p>
    <p>
      <!-- social media -->
      <a href="##"><i class="bi bi-instagram"></i></a>
      <a href="##"><i class="bi bi-facebook"></i></a>
      <a href="##"><i class="bi bi-twitter"></i></a>
    </p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../public/js/app.js"></script>
</body>
</html>
